.companies_full_div{
    background-color: #545e68;
    padding: 20px;
    border-radius: 10px;
}
.company_filter_div{
    width: 90%;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.company_div{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(225, 221, 221);
    padding: 7px 10px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.selected{
    background: #318CE7;
    color: white;
}
.input_filter{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 40%;
}
.input_filter input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}
.input_filter button{
    padding: 10px 20px;
    background: #318CE7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.3s;
}
.input_filter button:hover{
    background: #1f6fb2;
}
@media  screen and (max-width: 768px){
    .company_filter_div{
        width: 100%;
    }
    .input_filter{
        width: 100%;
        margin-bottom: 10px;
    }
    .input_select select{
        width: 100%;
    }   
    
}